/* Roboto */

@font-face {
  font-family: 'roboto';
  font-display: block;
  src: url('../fonts/roboto.woff') format('woff'),
  url('../fonts/roboto.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  font-display: block;
  src: url('../fonts/robotobold.woff') format('woff'),
  url('../fonts/robotobold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  font-display: block;
  src: url('../fonts/robotoblack.woff') format('woff'),
  url('../fonts/robotoblack.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  font-display: block;
  src: url('../fonts/robotolight.woff') format('woff'),
  url('../fonts/robotolight.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  font-display: block;
  src: url('../fonts/robotomedium.woff') format('woff'),
  url('../fonts/robotomedium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  font-display: block;
  src: url('../fonts/robotothin.woff') format('woff'),
  url('../fonts/robotothin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}